<nav class="navbar">
    <a href="#" class="nav-logo">Darkan</a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Forum</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Download</a>
        </li>
            <li class="nav-item">
            <a href="#" class="nav-link">Highscores</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Vote</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">World Map</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Skill Calcs</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Api Docs</a>
        </li>
    </ul>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>