<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <script src="/javascript/index.js" defer></script>
        <title>Darkan</title>
    </head>
    <body>
        <header class="header">
            <nav class="navbar">
                <a href="#" class="nav-logo">Darkan</a>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Download</a>
                    </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link">Highscores</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Vote</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">World Map</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Skill Calcs</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Api Docs</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>
        {{ message }}
    </body>
</html>