<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
            {{> global }}
        <title>Darkan</title>
    </head>
    <body>
        <header class="header">
            {{> navbar }}
        </header>
        {{ message }}
    </body>
</html>